<div class="navbar" id="navbar">
  <div class="nav-left">
    <div class="hamburger" id="hamburger">
      <span></span><span></span><span></span>
    </div>
    <a href="/" class="logo-link">
      <img src="/assets/logos/personal/CRP_logo_white.png" class="logo-img" alt="Logo">
      <div class="logo">Chase Pittman | Portfolio</div>
    </a>
  </div>
  <div class="nav-right">
    <a href="https://www.linkedin.com/in/chasepittman" target="_blank">
      <img src="/assets/logos/tools/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://www.credly.com/users/chase-pittman.017d3434/badges#credly" target="_blank">
      <img src="/assets/logos/skills/credly.png" alt="Credly">
    </a>
    <a href="https://www.github.com/chasepittman" target="_blank">
      <img src="/assets/logos/tools/github.png" alt="GitHub">
    </a>
    <a href="/contact.html">
      <img src="/assets/logos/tools/gmail.png" alt="Contact Form">
    </a>
  </div>
</div>
